.container_weather__advice {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(33, 31, 31, 0.4);
  color: #fff;
  border-radius: $block-radius;
}

.container_weather__advice_title {
  font-size: $block-input-fsize;
}

#container_advice {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: $block-body-fsize;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


//width: 21.875rem;
//width: 100%;
//max-width: 100%;
//max-height: 200px;
//flex: 45%;


// @media screen and (max-width: 768px) {
//   .block-3 {
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-items: center;
//   }
// }